body {
  background: linear-gradient(183deg, rgba(141,35,46,0.5) 1%, rgba(141,35,46,0) 60%), 
              linear-gradient(250deg, rgba(141,35,46,0) 21%, rgba(141,35,46,0.2) 20%, rgba(11,35,47,0.2) 50%),
              linear-gradient(250deg, rgba(141,35,46,0) 23%, rgba(141,35,46,0.2) 20%, rgba(11,35,47,0.2) 50%),
              linear-gradient(250deg, rgba(141,35,46,0) 25%, rgba(141,35,46,0.2) 20%, rgba(11,35,47,0.2) 50%),
              repeating-linear-gradient(179deg, rgba(255,255,255,0.1), rgba(255,255,255,0.1) 3px, rgba(0,0,0,0.1) 3px, rgba(0,0,0,0.1) 5px);;
 
  background-color: #0b232f;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

i {
  font-size: 28px;
}



.jim-nightshade-regular {
  font-family: "Jim Nightshade", cursive;
  font-weight: 400;
  font-style: normal;
}

.madimi-one-regular {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.keania-one-regular {
  font-family: "Keania One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  height: 100%;
  margin: auto;
  padding: 20px;
}

.header {
  font-family: "Keania One", sans-serif;
  font-size: 35px;
  font-weight: 400;
  font-style: normal;
}

.message {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 45px;
  color: blueviolet;
}

.author {
    padding: 10px;
    color: lightcoral;

}

.btn-class {
  display: flex;
  padding: 10px;
}

button {
  background-color: transparent;
  color: blue;
  border: none;
  padding: 5px; 
}

.error-message{
    color: red;
    font-size: 25px;
}

.hidden{
    display: none;
    
}


